# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
backend/node_modules
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backEnd/node_modules
backEnd/node_modules/wide-align/README.md
backEnd/node_modules/wide-align/package.json
backEnd/node_modules/wide-align/LICENSE
backEnd/node_modules/wide-align/align.js
backEnd/node_modules/sift/sift.csp.min.js
backEnd/node_modules/sift/README.md
backEnd/node_modules/sift/lib/index.js
backEnd/node_modules/sift/es5m/index.js
backEnd/node_modules/rimraf/bin.js
backEnd/node_modules/node-fetch/node_modules/whatwg-url/lib/url-state-machine.js
backEnd/node_modules/node-addon-api/tools/conversion.js
backEnd/node_modules/mongodb/etc/prepare.js
backEnd/node_modules/mkdirp/bin/cmd.js
backEnd/node_modules/make-dir/node_modules/semver/bin/semver.js
backEnd/node_modules/make-dir/node_modules/.bin/semver.ps1
backEnd/node_modules/make-dir/node_modules/.bin/semver.cmd
backEnd/node_modules/make-dir/node_modules/.bin/semver
backEnd/node_modules/color-support/bin.js
backEnd/node_modules/bson/etc/prepare.js
backEnd/node_modules/bcrypt/test-docker.sh
backEnd/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backEnd/node_modules/bcrypt/appveyor.yml
backEnd/node_modules/@types/whatwg-url/README.md
backEnd/node_modules/@types/webidl-conversions/README.md
backEnd/node_modules/@mapbox/node-pre-gyp/node_modules/nopt/bin/nopt.js
backEnd/node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.ps1
backEnd/node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt.cmd
backEnd/node_modules/@mapbox/node-pre-gyp/node_modules/.bin/nopt
backEnd/node_modules/@mapbox/node-pre-gyp/bin/node-pre-gyp
backEnd/node_modules/.package-lock.json
backEnd/node_modules/.bin/semver.ps1
backEnd/node_modules/.bin/semver.cmd
backEnd/node_modules/.bin/semver
backEnd/node_modules/.bin/rimraf.ps1
backEnd/node_modules/.bin/rimraf.cmd
backEnd/node_modules/.bin/rimraf
backEnd/node_modules/.bin/nopt.ps1
backEnd/node_modules/.bin/nopt.cmd
backEnd/node_modules/.bin/nopt
backEnd/node_modules/.bin/nodetouch.ps1
backEnd/node_modules/.bin/nodetouch.cmd
backEnd/node_modules/.bin/nodetouch
backEnd/node_modules/.bin/nodemon.ps1
backEnd/node_modules/.bin/nodemon.cmd
backEnd/node_modules/.bin/nodemon
backEnd/node_modules/.bin/node-pre-gyp.ps1
backEnd/node_modules/.bin/node-pre-gyp.cmd
backEnd/node_modules/.bin/node-pre-gyp
backEnd/node_modules/.bin/mkdirp.ps1
backEnd/node_modules/.bin/mkdirp.cmd
backEnd/node_modules/.bin/mkdirp
backEnd/node_modules/.bin/mime.ps1
backEnd/node_modules/.bin/mime.cmd
backEnd/node_modules/.bin/mime
backEnd/node_modules/.bin/color-support.ps1
backEnd/node_modules/.bin/color-support.cmd
backEnd/node_modules/.bin/color-support
